<suite name="Suite1" data-provider-thread-count="3">

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="Homework9_success">
        <classes>
            <class name="test.java.com.epam.lab.web.GmailTest"/>
        </classes>
    </test>
    <test name="Homework9_fail">
        <classes>
            <class name="test.java.com.epam.lab.web.FailTest"/>
        </classes>
    </test>
</suite>
